body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    font-size: xx-large;
}
ul{
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    font-size: small;
}
table, th, td {
    border: 1px solid black;
    padding: 5px;
}
.tablecontainer{
    overflow-x: scroll;
}
button{
    background-color: #184e20 ;
    display: inline-block;
    text-decoration: none;
    border: none;
    border-radius: 0 90px 0 90px;
    cursor: pointer;
    text-align: center;
    outline: none;
    padding: 7px 15px;
}
button:hover{
    background-color: rgb(84, 170, 67);
}
button:active{
    transform: translateY(5px);
    background-color: #0d2f12;
}
header {
    background-color: #92898A;
    color: #EDE3E4;
    display: flex;
    flex: row;
    border-radius: 90px 90px 0 0;
}
header img {
height: 75px;
width: 75px;
border-radius: 30px;
right: 50%;
box-shadow: 7px 7px 7px #1e1a1aa3;
}
nav{
    padding-top: 100px;
    margin-left: 20%;
    padding-bottom: 20px;
    font-size: large;
}
nav a {
    margin: 20px;
    color: #EDE3E4;
    text-decoration: none;
}
nav a:hover{
    animation-name: sway;
    animation-duration: 6s;
}
@keyframes sway{
    0%   {color: #184e20; margin: 21px; }
  25%  {color: rgb(0, 255, 47);margin: 23px;}
  50%  {color: #184e20;margin: 25px;}
  100% {color: green;margin: 23px;} 
}
.intro{
    display: flex;
    flex: row;
    background-color: #EDE3E4;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(34, 1, 1);
    padding-bottom: 275px;
    padding: 10px;
    box-shadow: 7px 7px 7px #1b1a1a96;
}

.intro h1:hover{
    animation-name: welcome;
    animation-duration: 2s;
}
@keyframes welcome{
    0% {transform: translateX(4px);}
    25% {transform: translateX(-4px);}
    50% {transform: translateX(4px);}
    100% {transform: translateX(-4px);}
}
#desk{
    margin-top: -500px;
    margin-left: 70%;
    z-index: 3;
}
@keyframes drip{
    0%   {height: 300px;}
    25%  {height: 375px;}
    50%  {height: 430px;}
    100% {height: 450px;}
}



.topdrip img{
      width: 100%;
      height: 450px;
      animation-name: drip;
      animation-duration: 7s;
      
}
#wordscontainer{
    display: flex;
    flex: auto;
    margin: auto;
    width: 100%;
}
#words{
    margin: 10%;
    margin-right: 20%;
    
}
.deskimg{
    overflow: hidden;
    right: 5px;
}
.bg{
    
    background-color: #92898A;
    display: flex;
    flex: row;
    z-index: -1;
    position: fixed;
    align-self: center;
    top: -10%;
    right: 7%;
    margin: 25%;
    padding: 50px;
    color: #EDE3E4;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.bg img{
    height: 200px;
    width: 200px;
    margin: 2%;
    align-self: center;

}
.bottomdrip img{
    width: 100%;
    height: 400px;
    margin-top: 300px;
    margin-bottom: -10px;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
    
}
.outro{
    padding-bottom: -10%;
    padding: 10%;
    background-color: #EDE3E4;
    color: rgb(34, 1, 1);
    text-align: center; 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: auto;
    margin-bottom: -10px;
    margin-top: 550px;
    overflow: hidden;
    
}
.outro2{
    padding-bottom: 100px;
    padding: 5%;
    overflow-wrap: break-word;
    background-color: #EDE3E4;
    color: rgb(34, 1, 1);
    margin-top: -50px;
    text-align: center;
}

#boxes1and2{
    display: flex;
    flex: column;
    margin-left: auto;
    margin-left: auto;
    width: auto;
}
.outro img{
    height: 100px;
    width: 150px;
   
}
.outro img:hover{
    animation-name: welcome;
    animation-duration: 2s;
}

footer{
    background-color: #92898A;
    color: #EDE3E4;
    padding: 3%;
    border-radius: 0 0 90px 90px;
    
}
footer h1:hover{
    animation-name: welcome;
    animation-duration: 2s;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.aboutme{
    background-color: #EDE3E4;
    padding: 20px;
}

details summary > * {
    padding-top: 10px;
    display: inline;
    text-align: center;
  }

